body {
  display: grid;
  place-items: center;
  user-select: none;
  background-image: url(./augustine-wong-LfU6_b3Oj4E-unsplash.jpg);
  background-size: 100%;
}

.boxes {
  margin-top: 10px;
}

.box {
  display: flex;
  gap: 5px;
}

.todo{
  font-size: 50px;
  text-align: center;
}

.box input {
  width: 320px;
  height: 50px;
  background-color: transparent;
  border: .5px solid;
  border-radius: 5px;
  font-size: 20px;
}

.box button {
  width: 60px;
  height: 53px;
  border-radius: 3px;
  background: rgb(0, 186, 242);
  border: none;
  font-size: 22px;
  box-sizing: border-box;
}

.box button:active {
  transform: scale(0.9);
}

.nub {
  display: flex;
   align-items: first baseline;
  gap: 2px;
}

.p{
  width: 390px;
  height: 50px;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 15px;
  border: 1px solid;
  position: relative;
  box-sizing: border-box;
  font-size: 19px;
}

.cleaning{
  width: 80px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 303px;
  background: rgb(0, 186, 242);
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 15px;
}

.p-activ {
  background-color: rgba(129, 126, 126, 0.331);
  text-decoration: line-through;
  color: rgb(0, 0, 0);
}

.nech{
  
  left: 644px;
  top: 169.2px;
}

.logo{
  position: absolute;
  width: 200px;
  border-radius: 100%;
}
