@mixin famley(
  $wght: 400, 
  $size: 14px, 
  $heht: 20px)
{
font-weight: $wght;
font-size: $size;
line-height: $heht;
}

@mixin flex(
  $align: initial, $justify: initial, $gap: initial)
  {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

